In [1]:
from sqlalchemy import Table, Column, Integer, String, MetaData, create_engine

In [2]:
from sqlalchemy.sql import select

In [3]:
# Select文サンプル
# sel_select = select([users.c.id, users.c.name]).limit(3)
# resutl = con.execute(sel_select)
# for row in result:
#     print(row)

In [5]:
engine = create_engine('sqlite:///test.db')

In [6]:
with engine.connect() as con:

    # Drop文を実行
    con.execute("DROP TABLE IF EXISTS USERS")

### insert文

In [9]:
from sqlalchemy.sql import insert

In [7]:
meta = MetaData(engine)
meta.reflect()

In [8]:
users = Table('Users', meta,
              Column('id', Integer, primary_key=True),
              Column('name', String),
              Column('age', Integer)
              )

meta.create_all()

In [10]:
with engine.connect() as con:
    sel_insert = insert(users, values=({"id": 1, "name": 'Suzuki', "age": 20},
                                       {"id": 2, "name": 'Suzuki', "age": 20},
                                       ))
    
    result = con.execute(sel_insert)
    print(result)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x0000023B04D5F8B0>

### Select文

In [11]:
from sqlalchemy.sql import select

In [12]:
users = meta.tables['Users'] # 既存のテーブルを取得してみる

In [13]:
with engine.connect() as con:
    # select id, name from Users where id=3 limit 3;
    sel_select = select(users.c.id, users.c.name).limit(3)
    result = con.execute(sel_select)

    for row in result:
        print(row)

(1, 'Suzuki')
(2, 'Suzuki')

In [14]:
with engine.connect() as con:
    # select * from Users where id=1;
    sel_select = select([users])
    result = con.execute(sel_select, id=1)

    for row in result:
        print(row)

(1, 'Suzuki', 20)
(2, 'Suzuki', 20)

### update文

In [15]:
from sqlalchemy.sql import update

In [16]:
with engine.connect() as con:
    sel_update = update(users, users.c.name == 'Tanaka')
    con.execute(sel_update)

    sel_select = select([users])
    result = con.execute(sel_select, id=1)

    for row in result:
        print(row)

(1, 'Suzuki', 20)
(2, 'Suzuki', 20)